<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AYWSTestClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="AYWSTestClient.My.MySettings.CommonDBConnectionString" connectionString="Data Source=IAD1DD001;Initial Catalog=AYQACommon;User ID=aysqluser;Password=t*pG6n"/>
 </connectionStrings>
	<appSettings>
		<add key="EncryptKey" value="A#D^$%T^"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="FTPBasePath" value="\\dill\d$\ftpsite"/>
	</appSettings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="IClassService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999999900" maxArrayLength="16384" maxBytesPerRead="8192" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService1" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999999900" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="ayws" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999990000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService2" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999990000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService3" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999990000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService4" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="41943040" maxBufferPoolSize="41943040" maxReceivedMessageSize="41943040" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="41943040" maxArrayLength="41943040" maxBytesPerRead="8192" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService5" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999990000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService6" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999990000" maxBufferPoolSize="524288" maxReceivedMessageSize="999990000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="999990000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService7" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="41943040" maxBufferPoolSize="41943040" maxReceivedMessageSize="41943040" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="41943040" maxArrayLength="41943040" maxBytesPerRead="8192" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>    
    <binding name="IClassService24" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService25" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService8" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="IClassService26" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://webservices.lamtech.com:8072/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService" contract="AYWSIClass.IIClassService" name="IClassService"/>
   <endpoint address="https://ayws.applyyourself.com/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService1" contract="ProdAYWSIClass.IIClassService" name="IClassService1"/>
   <endpoint address="http://test-ayws.applyyourself.com/ayws.svc/ayws" binding="basicHttpBinding" bindingConfiguration="ayws" contract="TestAYWS.IPublishedWS" name="ayws"/>
   <endpoint address="http://dev3.hobsons.local/ayws/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService2" contract="DevAYWS.IIClassService" name="IClassService2"/>
   <endpoint address="http://webservices.emt.hobsons.local:8072/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService3" contract="QAAYWS.IIClassService" name="IClassService3"/>
   <endpoint address="http://localhost:8078/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService4" contract="DevAYWS.IIClassService" name="IClassService4"/>
   <endpoint address="https://uatayws.applyyourself.com/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService5" contract="AYWSIClass.IIClassService" name="IClassService5"/>
   <endpoint address="https://ayws.applyyourself.com/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService6" contract="ProdAYWSIClass.IIClassService" name="IClassService6"/>
   <endpoint address="https://l2-proal-01ayws.emt.hobsons.local/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService7" contract="DevAYWS.IIClassService" name="IClassService7"/> 
   <endpoint address="https://uatayws.applyyourself.com/IClassStreamService.svc/IClassStreamService" binding="basicHttpBinding" bindingConfiguration="IClassService24" contract="AYWSIClassStream.IIClassStreamService" name="IClassService24"/>
   <endpoint address="https://ayws.applyyourself.com/IClassStreamService.svc/IClassStreamService" binding="basicHttpBinding" bindingConfiguration="IClassService25" contract="ProdAYWSIClassStream.IIClassStreamService" name="IClassService25"/>
   <endpoint address="https://l2-proal-02.hobsons.local/IClassService.svc/IClassService" binding="basicHttpBinding" bindingConfiguration="IClassService8" contract="DevAYWS.IIClassService" name="IClassService8"/>
   <endpoint address="https://l2-proal-02.hobsons.local/IClassStreamService.svc/IClassStreamService" binding="basicHttpBinding" bindingConfiguration="IClassService26" contract="DevAYWSStream.IIClassStreamService" name="IClassService26"/>
  </client>
	</system.serviceModel>
	<applicationSettings>
		<AYWSTestClient.My.MySettings>
   <setting name="WSUserID" serializeAs="String">
    <value>onbasews</value>
   </setting>
   <setting name="WSPassword" serializeAs="String">
    <value>0nbase1</value>
   </setting>
   <setting name="RecPackageID" serializeAs="String">
    <value>472</value>
   </setting>
   <setting name="WSUrl" serializeAs="String">
    <value>https://ayws.applyyourself.com/iclassservice.svc/iclassservice</value>
   </setting>
   <setting name="InputPDFFileName" serializeAs="String">
    <value/>
   </setting>
   <setting name="OutputFileNamingConvention" serializeAs="String">
    <value/>
   </setting>
   <setting name="CreateTiffFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UploadQuestionIDs" serializeAs="String">
    <value>267212</value>
   </setting>
   <setting name="ModiProcessElapsedTime" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="UsePdfToolsToConvertToTiff" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AppPackageID" serializeAs="String">
    <value>22</value>
   </setting>
   <setting name="ApplicantIDs" serializeAs="String">
    <value>10450</value>
   </setting>
   <setting name="IClassFileRootPath" serializeAs="String">
    <value>\\iad1cifs01\ic_website\_fileroot</value>
   </setting>
  </AYWSTestClient.My.MySettings>
	</applicationSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
