<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<appSettings>
		<add key="AYTestDataTransferWS.DataTransferWS.DataTransferWS" value="https://export.applyyourself.com/aydatatransferws.asmx" />
		<add key="DoExport" value="True" />
		<add key="DoImport" value="False" />
		<add key="ClientAbbreviation" value="auburn-g" />
		<add key="PackageID" value="3799" />
		<add key="InterfaceID" value="2324" />
		<add key="UserName" value="_webserv" />
		<add key="Password" value="121TNFok!" />
		<add key="FileName" value="C:\temp" />
		<add key="UseClientCertificate" value="False" />
		<add key="ClientCertificate" value="" />
		<add key="QueryID" value="9044" />
		<add key="ExportLimit" value="1" />
		<add key="ColumnHeaders" value="True" />
		<add key="MarkAsExported" value="False" />
		<add key="CreateEmptyFile" value="False" />
		<add key="ExcludeExported" value="False" />
		<add key="ImportAsUnsubmitted" value="False" />
		<add key="Async" value="False" />
		<add key="ExecNoBusRules" value="True" />
		<add key="ExecBusRulesNoEmails" value="False" />
		<add key="ExecBusRulesAndEmails" value="False" />
	</appSettings>
</configuration>
